<header>
  <nav>
    <button><a href="{{ site.url }}">Alan Matuszczak</a></button>
    <ul>
      {% for link in site.header_links %}
      {% if link.document != nil %}
      <li><a href="{% link {{ link.document }} %}">{{ link.title }}</a></li>
      {% else %}
      <li><a href="{{ link.content }}">{{ link.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
