<!DOCTYPE html>
<html lang="en">

{% seo %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/awsm.min.css">
  <link rel="stylesheet" href="/assets/css/custom_overrides_orugahz.css">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.jpg">
  <title>Alan Matuszczak's website</title>
</head>

{% include header_links.html %}
<body>

<main>
  <article>
  {{ content }}
  </article>

</main>
<footer>
  © 2018-2025 Alan Matuszczak<br>
  Created with <a href="https://jekyllrb.com/">Jekyll</a>. Deployed using <a
  href="https://www.pulumi.com/">Pulumi</a>
  (website source <a href="https://gitlab.com/avcudenoir/website/-/tree/master"> on GitLab</a>).
</footer>
</body>
</html>
