a, nav a:visited {
  text-decoration: none;
  color: #06223d;
  padding: 10px 10px;
}

article header h1 a:visited:hover, article header h2 a:visited:hover, nav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: black;
  transition: .3s;
}

button, button:active, button:focus, nav button, nav button:hover {
  display: block;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  border: 1px solid white;
  font-size: 2em;
  font-weight: bold;
}

button a, button a:hover {
  background-color: white;
  color: #06223d;
}

button:not([disabled]):hover,
input[type=button]:not([disabled]):hover,
input[type=file]:not([disabled]):hover,
input[type=reset]:not([disabled]):hover,
input[type=submit]:not([disabled]):hover,
select:not([disabled]):hover {
  border: 1px solid white
}
